* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
    background: red;
    color: black;
}

.box {
    margin: 2rem;
    padding: 1rem;
}

.master {
    border: none;
    margin: 0;
}