* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
    background: red;
    color: black;
}

.box {
    margin: 2rem;
    padding: 1rem;
}

.master {
    border: none;
    margin: 0;
}

.container {
    width: 80%;
    max-width: 1000px;
    background-color: blueviolet;
}

.main {
    color: red;
    font-family: "oswald";
    text-decoration: none;
}